svg{
    border: 1px solid rgb(75, 72, 72);
}

.axis .domain{
    stroke: #bbb;
}

.axis .tick line{
    stroke: #bbb;
    stroke-width: 0.5;
    stroke-dasharray: 4,2;
}

body{
    text-align: center;
    background-color: ghostwhite;
    font-family: 'cwTeXYen', sans-serif;
}